section {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.timelineJob {
    width: 100%;
    position: relative;
    perspective: 5000px;
}

.timelineJob:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background-color: rgba(213, 223, 229, 1);
    border-radius: 15px;
    top: 76px;
}

.timelineJob .timelineJob-item {
    text-align: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.timelineJob .timelineJob-item:hover:after {
    transform: scale(1.5, 1.5);
}

.timelineJob .timelineJob-item.selected:after {
    background-color: rgba(28, 119, 195, 1);
    border: 5px solid rgba(86, 203, 249, 1);
    transform: scale(1.5, 1.5);
}

.timelineJob .timelineJob-item:after {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 69px;
    left: 50%;
    margin-left: -15px;
    background-color: rgba(245, 239, 237, 1);
    border: 5px solid rgba(213, 223, 229, 1);
    content: "";
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.timelineJob .timelineJob-item .timelineJob-content {
    position: absolute;
    top: -300px;
    display: none;
    width: 350px;
    left: -60px;
    cursor: auto;
}

.timelineJob .timelineJob-item .timelineJob-content.fadeIn {
    animation-delay: 0.2s;
}

.timelineJob .timelineJob-item .timelineJob-content.animated {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flex-items-default {
    width: 20%;
    height: 150px;
}

.dropdown {
    width: 400px;
    height: 326px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 20px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: -310px;
    animation-duration: 0.2s;
    transition: left 0.3s ease;
}

.dropdown .inner {
    position: relative;
    width: 100%;
    height: 326px;
    border: 1px solid;
    background: #000;
}

.dropdown .inner .arrow-down {
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -20px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(255, 255, 255, 1);
}

.animated {
    display: block;
}

.material-icons {
    position: absolute;
    top: 189px;
    left: 160px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-size: 33px;
}

.hexagon {
    position: relative;
    width: 75px;
    height: 43.3px;
    background-color: rgba(28, 119, 195, 1);
    margin: 21.65px 0;
    left: 50%;
    margin-left: -37px;
    top: 25px;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 37.5px solid transparent;
    border-right: 37.5px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 21.65px solid rgba(28, 119, 195, 1);
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 21.65px solid rgba(28, 119, 195, 1);
}

/* ======= ANIMATON ========== */
#webgl {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: -1;
}

#webgl2 {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
}

#bg-box {
    width: 802px;
    height: 602px;
    position: absolute;
    z-index: -1;
}

.svg-box {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: 1;
}

.svg-box #robot {
    cursor: pointer;
}