.about
  position: relative
  display: flex
  max-width: 80%
  height: 100%
  flex-direction: column
  justify-content: center
  margin: 0 auto

  @media (max-width: 1180px)
    max-width: 100%

  &--banner
    position: relative
    display: flex
    justify-content: space-evenly
    bottom: 100px

    h3
      width: 60%
      display: flex
      font-size: 32px
      font-weight: 900
      line-height: 1.5
      align-items: center

      @media (max-width: 600px)
        font-size: 24px

    .caroussel
      width: 30%
      height: 30vh
      overflow: hidden
      border: 10px solid
      border-color: #09607e
      position: relative
      .photo
        position: absolute
        width: -webkit-fill-available
        height: -webkit-fill-available
        animation: round 16s infinite
        opacity: 0

      @keyframes round
        25%
          opacity: 1

        40%
          opacity: 0

      img:nth-child(1)
        animation-delay: 12s

      img:nth-child(2)
        animation-delay: 8s

      img:nth-child(3)
        animation-delay: 4s

      img:nth-child(4)
        animation-delay: 0s

  &--experience
    width: 100%
    height: 50%
    display: flex
    justify-content: flex-end

    @media (max-width: 700px)
      left: 0

  &--options
    display: flex
    width: 100%
    justify-content: space-evenly

    & > a
      position: relative
      width: 15vw
      height: 15vh
      text-decoration: none
      color: $white
      border: 10px solid $highlight
      background:
        position: center
        size: cover
        repeat: no-repeat

      &:nth-child(1)
        background-image: url("../img/personal.jpg")

      &:nth-child(2)
        background-image: url("../img/academic.jpg")
        background-repeat: no-repeat
        background-size: contain

      &:nth-child(3)
        background-image: url("../img/wok.jpg")

      &:nth-child(4)
        background-image: url("../img/abilities.jpg")

      &:hover
        h3
          bottom: -50px

    h3
      position: absolute
      bottom: -38px
      left: 10px
      font-size: 16px
      text-transform: uppercase
      transition: bottom .2s ease-in-out, left .2s ease-in-out

@media (max-width: 767px)

  .about

    &--banner
      height: 305px

      &::before
        top: 0
        left: 125px

      &::after
        top: 35px
        left: 260px

      h2
        margin-top: 10px
        font-size: 44px

        &::before
          top: 28px
          left: 168px

        &::after
          top: 163px
          left: 163px

      img
        width: 315px

@media (max-width: 600px)

  .about

    &--banner
      height: auto

      &::before
        left: 155px

      &::after
        left: 310px

      h2
        margin-top: 0
        font-size: 55px

        &::before
          top: 43px
          left: 214px

        &::after
          top: 205px
          left: 205px
